/* ! To manipulate material UI components sometimes a !important is required */
/* ! Some css properties (mui-checkcolor, color) are defined in the react component  */

.question-multiple-response .formControlLabel{
  width: 100% !important;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.question-multiple-response .formControlLabel > .formControlLabel-label{
  font-size: 18px;
  padding-top: 10px;
  padding-left: 2px;
}

.question-multiple-response  .formControlLabel > .formControlLabel-checkbox:hover{ 
  background-color: rgba(90, 90, 245, 0.12);
}

.question-multiple-response .MuiSvgIcon-root{
  font-size: 26px;
}

.question-multiple-response .label-disabled{
  color: grey;
}

/* Style lists set with react markdown */
.question-multiple-response ul li,
.question-multiple-response ol li{
  list-style-position: inside;
}

/* Style the image that can be set with MarkDown */
.question-multiple-response .formControlLabel p img{
  display: block;
  font-size: 1rem;
  object-fit: contain;
  object-position: left center;
  width: 100%;
  max-width: 550px;
  max-height: 300px;
}

/* For the correction */
.correction-multipleResponse-list-item {
  list-style: none;
  position: relative;
  padding-left: 18px;
}

.correction-multipleResponse-list-item::before {
  content: '■';
  position: absolute;
  left: 0px;
  top: 0px;
  font-size: 14px;
}

.correction-multipleResponse-list-item  ul li,
.correction-multipleResponse-list-item  ol li{
  list-style-position: inside;
}

/* Media Query for phones */
@media only screen and (max-width: 650px) { 
  .question-multiple-response .formControlLabel{ 
    padding: 0px 0 !important;
  }

  /* Override the checkbox size of mui */
  .question-multiple-response .MuiSvgIcon-root{
    font-size: 30px !important;
  }

  .question-multiple-response .formControlLabel > .formControlLabel-label{
    font-size: 18px;
    padding-top: 10px;
    padding-left: 0;
  }

  .question-multiple-response .formControlLabel > .formControlLabel-checkbox:hover{ 
    background-color: transparent;
  }

  .correction-multipleResponse-list-item::before { 
    left: 0px;
    top: 4px;
    font-size: 10px;

  }
}