.question-form {
  position: relative;
  /*40px represents the padding (top+bottom) of the main component defined in index.css, so the user doesn't need scroll and the navigation is always at the bottom*/
  height: calc(100vh - 40px);
  width: 100%;
  background-color: white;
  border-radius: 5px;
  border: 1px solid var(--custom-border-color-lighter);
  overflow: hidden;
}

.question-form button {
  appearance: none;
  outline: none;
  cursor: pointer;
}

.question-data {
  position: relative;
  height: 100%;
  /*Cancel out the navigation at the bottom */
  padding: 20px 15px 80px 20px;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.question-id-progress-wrapper {
  margin-bottom: 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.question-id-progress-wrapper>p {
  color: var(--custom-secondary-color);
}

.question-id-progress-wrapper>.question-id {
  font-size: 0.9rem;
  font-weight: 450;
  line-height: 1;
  color: var(--custom-secondary-color);
  padding: 6px;
  background-color: rgba(90, 90, 245, 0.3);
  border: 2px solid var(--custom-prime-color);
  border-radius: 5px;
}

.question-id-progress-wrapper>.question-progress {
  margin-left: 10px;
  text-align: right;
  font-size: 1.2rem;
  line-height: 1.2;
}

.question-title {
  margin-top: 0.4rem;
}

/* Targets the markdown (styling) in the title */
.question-title,
.question-title p,
.question-title li {
  line-height: 1.2;
  font-size: 1.35rem;
  font-weight: 450;
}

/* Targets the markdown (image) in the title */
.question-form .question-title img {
  display: block;
  font-size: 1rem;
  margin: 2px 0;
  object-fit: contain;
  object-position: left center;
  width: 100%;
  max-width: 700px;
  max-height: 500px;
}

/* Target lists in the title of the question */
.question-title ul li,
.question-title ol li {
  font-weight: inherit;
  list-style-position: inside;
}

/* Target lists in the title of the question */
.question-title ul li,
.question-title ol li {
  font-weight: inherit;
  list-style-position: inside;
}

/* Target table element in the title of the question */
.question-title table {
  margin: 5px 0;
  border-collapse: collapse;
}

.question-title table,
.question-title th,
.question-title td {
  border: 1px solid var(--custom-secondary-color);
}

.question-title th,
.question-title td {
  padding: 5px 10px;
}

/* Style the question points */
.question-points {
  font-size: 1.1rem;
  color: var(--custom-secondary-color);
  margin-top: 1px;
}

/* Style the question type help */
.question-type-help {
  margin: 2px 0 5px 0;
  font-style: italic;
  color: var(--custom-secondary-color);
}

/* Targets the markdown (image) in the question type help */
.question-type-help img {
  margin: 2px 0 20px 0;
  display: block;
  object-fit: contain;
  object-position: left center;
  width: 100%;
  max-width: 700px;
  max-height: 500px;
}

/* Targets the markdown list in the question type help */
.question-type-help ul li,
.question-type-help ol li {
  list-style-position: inside;
}

/* Target table element in the title of the question */
.question-type-help table {
  margin: 5px 0;
  border-collapse: collapse;
}

.question-type-help table,
.question-type-help th,
.question-type-help td {
  border: 1px solid var(--custom-secondary-color);
}

.question-type-help th,
.question-type-help td {
  padding: 5px 10px;
}

/* Targets the question-correction section*/
.question-correction {
  margin: 15px 0 5px 0;
  padding: 10px;
  border-radius: 5px;
  scroll-margin-top: 10px;
}

.question-form .answer-correct {
  background-color: rgb(145, 202, 172);
  border: 2px solid rgb(21, 104, 60);
}

.question-form .answer-false {
  background-color: rgb(241, 177, 170);
  border: 2px solid rgb(173, 31, 15);
}

.question-correction-title {
  font-size: 19px;
  font-weight: 700;
  margin-bottom: 2px;
}

.question-scrollToBottom-button {
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 80px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.question-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  justify-content: space-between;

  z-index: 10;

  padding: 10px 20px;
  border-top: 1px solid var(--custom-border-color-lighter);
  background-color: white;
}

.question-bottom-when-expanded {
  /* When width of form is more than 800px */
  flex-direction: row;
  align-items: flex-end;
}

/* When width of form is less than 800px */
.question-bottom-when-collapsed {
  height: auto;
  max-height: 120px;

  flex-direction: column-reverse;
  align-items: center;
}

.question-check-retry-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.question-check-retry-wrapper>.question-check-next,
.question-check-retry-wrapper>.question-retry {
  height: 39px;
  width: 100%;
  max-width: 160px;

  display: flex;
  justify-content: center;

  border-radius: 6px;
}

.question-check-retry-wrapper>.question-check-next {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-right: 5px;

  color: white;
  background-color: var(--custom-prime-color);
  border: 1px solid var(--custom-prime-color);
}

.question-check-retry-wrapper>.question-retry {
  border: 1px solid var(--custom-border-color);
  background-color: transparent;
}

.question-check-retry-wrapper .check-icon,
.question-check-retry-wrapper .retry-icon,
.question-check-retry-wrapper .next-question-icon {
  height: 100%;
  width: 33px;
}

/* Imported svg is to small */
.question-check-retry-wrapper .check-icon,
.question-check-retry-wrapper .retry-icon {
  transform: scale(1.2);
}

/* Imported svg is to small */
.question-check-retry-wrapper .next-question-icon {
  transform: scale(1.4);
}

.question-check-retry-wrapper .retry-icon {
  color: var(--custom-secondary-color);
}

.question-check-retry-wrapper .question-retry:active {
  background-color: var(--custom-tertiary-color);
  border-color: var(--custom-border-color-dark);
}

.question-check-retry-wrapper>.question-check-next>.check-icon {
  stroke-width: 0.4;
}

.question-check-retry-wrapper>.question-check-next:active {
  background-color: var(--custom-prime-color-dark);
  border-color: var(--custom-prime-color-dark);
}

.show-question-nav {
  width: 36px;
  padding: 4px;
  margin-left: auto;

  flex-shrink: 0;

  color: var(--custom-secondary-color);
  border-radius: 6px;

  /* remove default 3d button effect */
  outline: none;
  border: none;
  background-color: transparent;
}

.show-question-nav>.show-question-nav-icon {
  width: 100%;
  height: 100%;

  stroke-width: .7;

  pointer-events: none;
}

.show-question-nav>.up {
  transform: rotate(180deg);
}

.show-question-nav>.down {
  transform: rotate(0deg);
}

/* Navigation */
.question-navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

.nav-collapsed {
  margin-bottom: 8px;
}

.question-navigation>* {
  height: 100%;
}

.question-navigation>button {
  /* Reset default button values*/
  border: none;
  appearance: none;
  outline: none;
  background-color: transparent;
  border-radius: 6px;

  width: 34px;
}

.question-navigation>button>svg {
  height: 100%;
  width: 100%;

  stroke: var(--custom-secondary-color);
  color: var(--custom-secondary-color);
}

.navigation-before {
  fill: var(--custom-secondary-color);
  transform: rotate(180deg);
}

.question-navigation>input {
  margin: 0 5px;
  padding: 5px;
  max-width: 70px;
  border: 1.5px solid var(--custom-border-color);
  border-radius: 4px;
  outline: none;
}

.question-navigation>input:active {
  border-color: var(--custom-prime-color);
}

.navigation-skip {
  fill: var(--custom-secondary-color);
}

.question-navigation>button:active svg {
  color: var(--custom-prime-color);
  stroke: var(--custom-prime-color);
  fill: var(--custom-prime-color);
}

/* Apply focus style just when tabbing */
.question-bottom button:focus-visible {
  outline: 2px solid var(--custom-prime-color);
  outline-offset: 2px;
}

/* Media for devices with mouse input */
@media only screen and (pointer: fine) {
  .question-navigation>input:hover {
    border-color: var(--custom-prime-color);
    outline: var(--custom-prime-color);
    outline-width: thin;
  }

  .question-navigation>button:hover svg {
    color: var(--custom-prime-color);
    stroke: var(--custom-prime-color);
    fill: var(--custom-prime-color);
  }

  .question-navigation>input:hover {
    border-color: var(--custom-secondary-color);
  }

  .question-navigation>input:focus {
    border-color: var(--custom-prime-color);
    background-color: var(--custom-tertiary-color);
  }
}

/* Media query for phones */
/* Second query is for development on desktop */
@media only screen and (pointer: coarse),
only screen and (pointer: fine) and (max-width: 650px) {
  .question-form {
    height: calc(100vh - 130px);
    /*The viewport of mobile devices includes the address bar. Because why not. */
    margin-bottom: 0;
    -moz-margin-bottom: 50px;
    /*Because firefox mobile has the address bar at the bottom. Otherwise there would be a black background at the bottom*/
  }

  .question-data {
    padding: 10px 7px 80px 12px;
  }

  .question-id-progress-wrapper>.question-progress {
    font-size: 1.1rem;
  }

  .question-title p {
    margin-top: 5px;
  }

  .question-correction {
    margin: 10px 0 5px 0;
  }

  .question-bottom {
    height: auto;

    flex-direction: column-reverse;
    align-items: center;

    padding: 12px 8px;
  }

  .question-check-retry-wrapper .check-icon,
  .question-check-retry-wrapper .retry-icon,
  .question-check-retry-wrapper .buttons-arrow {
    width: 36px;
  }

  .question-navigation>button {
    width: 38px;
  }
}

/* For desktop very small */
@media only screen and (pointer: fine) and (max-width: 650px) {
  .question-form {
    height: calc(100vh - 70px);
  }
}

/* On mobile firefox the scrollbar is part of the html viewport. In other browsers it is not */
@media(min--moz-device-pixel-ratio:0) and (max-width: 650px) {
  .question-data {
    padding: 10px 12px 80px 12px;
  }
}