.grid-cards{
  margin-top: 17px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-gap: 25px;
}

.card{
  border-radius: 8px;
  background-color: var(--custom-prime-color);
  color: whitesmoke;
  user-select: none;
  min-height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.6) 0px 3px 8px;
}

.card-info{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 20px 5px 20px;
}

h3{
  color: white;
  font-size: 22px;
  font-weight: 550;
  letter-spacing: 0.02em;
  margin-bottom: 15px;
  display: block;
  word-wrap: break-word;
  line-height: 1em;
}

.card-description{
  line-height: 1.3em;
  letter-spacing: 0.03em;
}

.updated-total-questions-wrapper{
  margin-top: 15px;
  line-height: 1.5em;
}

.card-buttons{
  min-width: 40px;
  display: flex;
  flex-direction: row;
  margin: 0;
  margin-top: 5px;
  justify-content: space-between;
  background-color: rgb(40, 42, 57);
}

.card-buttons > * {
  cursor: pointer;
  padding: 10px;
  height: 40px;
  width: 100%;
}

.card-buttons > *:hover{
  background-color: rgba(255,255,255,0.3);
  color: white;
}

.buttons-arrow{
  color: white;
  transition: background-color .2s ease-in-out;
}

.buttons-arrow:hover{ 
  background-color: rgba(90, 90, 245, 0.3);  
}

.card-empty{
  position: relative;
  border-radius: 8px;
  background-color: rgb(40, 42, 57);
  box-shadow: rgba(0, 0, 0, 0.6) 0px 3px 8px;
  color: whitesmoke;
  padding: 14px 18px;
  min-height: 180px;
  user-select: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-empty-circle{
  height: 35px;
  width: 35px;
  margin-bottom: 10px;
}
.card-empty:hover{
  background-color: rgb(61, 64, 82);
  color: white;
}

.card:nth-child(3), .card:nth-child(4){
  flex-direction: row;
}

.card:nth-child(3) .card-info,
.card:nth-child(4) .card-info{ 
  padding: 20px;
}

.card:nth-child(3) .card-buttons,
.card:nth-child(4) .card-buttons
{
  width: 60px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  margin: 0;
}

.card:nth-child(3) .card-buttons > *,
.card:nth-child(4) .card-buttons > * {
  padding: 15px;
  height: 33%;
}