.grid-cards{
  margin: 15px 0px 30px 0px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-gap: 12px;
}

.card{
  border-radius: 8px;
  background-color: var(--custom-prime-color);
  color: whitesmoke;
  user-select: none;
  min-height: 190px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.card-info{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 20px 0px 20px;
}

.card-title{
  color: white;
  margin-bottom: 10px;
  display: block;
  word-wrap: break-word;
}

.card-description{
  line-height: 1.3;
  letter-spacing: 0.03em;
}

.card-total-questions{
  margin-top: 15px;
}

.card-buttons{
  min-width: 40px;
  display: flex;
  flex-direction: row;
  margin: 0;
  margin-top: 5px;
  justify-content: space-between;
  align-items: center;
  background-color: var(--custom-secondary-color);
}

.card-buttons > * {
  cursor: pointer;
  height: 40px;
  width: 100%;
}

.card-buttons > svg{
  height: 100%;
  max-height: 40px;
  padding: 10px;
}

.card-buttons svg{
  min-width: 26px;
}

.card-buttons > *:hover{
  background-color: rgb(79, 82, 100);
  color: white;
}

.card-link{
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons-arrow{
  color: white;
  height: 100%;
  padding: 4px;
}

.card-add{
  position: relative;
  border-radius: 8px;
  background-color: var(--custom-secondary-color);
  color: whitesmoke;
  min-height: 180px;
  user-select: none;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.grid-cards .file-input {
  display: none;
}

.custom-file-upload{
  height: 100%;
  width: 100%;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card-add-circle{
  height: 35px;
  width: 35px;
  margin-bottom: 10px;
}
.card-add:active{
  background-color: rgb(61, 64, 82);
  color: white;
}