.sort-add-module-container {
  display: flex;
  gap: 6px;
  margin-left: 4px;
}

@media only screen and (max-width: 650px) {
  .sort-add-module-container {
    flex-direction: column-reverse;
    align-items: flex-end;
  }
}
