/* ! To manipulate material UI components sometimes a !important is required */
/* ! Some css properties (mui-checkcolor, color) are defined in the react component  */

.question-multiple-response .MuiFormControlLabel-root {
  margin-bottom: 12px;
  margin-right: 0;
  margin-left: -6px;
  width: calc(100% + 6px) !important;
  border-radius: 3px;
}

.question-multiple-response .MuiFormControlLabel-root > .formControlLabel-checkbox:hover {
  background-color: transparent;
}

.question-multiple-response .MuiFormControlLabel-root > .formControlLabel-typography {
  font-size: 18px;
  padding-top: 1px;
  padding-left: 2px;
  padding-right: 4px;
}

.question-multiple-response .Mui-disabled .formControlLabel-typography {
  color: grey;
}

/* For the correction */
.correction-multipleResponse-list-item {
  list-style: none;
  position: relative;
  padding-left: 18px;
}

.correction-multipleResponse-list-item::before {
  content: "■";
  position: absolute;
  left: 0px;
  top: 0px;
  font-size: 14px;
}

/* Media Query for phones */
@media only screen and (max-width: 650px) {
  .question-multiple-response .MuiFormControlLabel-root {
    margin-bottom: 8px;
  }

  .question-multiple-response .MuiFormControlLabel-root > .formControlLabel-checkbox:hover {
    background-color: transparent;
  }

  .correction-multipleResponse-list-item::before {
    left: 0px;
    top: 4px;
    font-size: 10px;
  }
}
