.create-import-module-btn {
  all: unset;

  line-height: 1;
  text-align: center;


  background-color: var(--custom-prime-color);
  color: whitesmoke;
  cursor: pointer;

  margin-left: 5px;
  padding: 10px 0;

  width: 100%;
  max-width: 118px;

  border-radius: 5px;
}

.create-import-module-btn p {
  font-weight: 500;
  font-size: 18px;
}

.import-create-module {
  height: 100%;
  min-height: 380px;

  padding: 20px;
  display: grid;
  grid-template-columns: calc(50% - 21px) max-content calc(50% - 21px);
  column-gap: 20px;

  overflow-y: auto;
}

.import-module {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  width: 100%;
  height: 100%;
  max-width: 500px;

  place-self: center center;
}

.import-create-module .import-module-btn,
.import-create-module .create-module-btn {
  all: unset;

  place-self: start center;

  line-height: 1;
  font-weight: 600;
  font-size: 18px;

  color: white;
  background-color: var(--custom-prime-color);

  padding: 10px 20px;
  margin-top: auto;

  border-radius: 5px;
  cursor: pointer;
}

.import-create-module h2 {
  text-align: start;
  width: 100%;
  margin-bottom: 0.5rem;
}

.import-module .dropzone {
  width: 100%;
  max-width: 500px;
  height: 200px;
  padding: 0.6rem;
  margin-bottom: 8px;

  display: grid;
  grid-template-rows: auto auto auto;
  place-items: center;

  border: 1.5px dashed var(--custom-border-color-light);
  border-radius: 5px;
  outline: none;
}

.import-module .drop-info {
  height: 100%;

  display: flex;
  align-items: center;
  flex-direction: column;
}

.import-module .dropzone svg[class="folder"] {
  height: 2.5rem;
  width: 2.5rem;
  flex-shrink: 0;
}

.import-module .dropzone .drop-info p {
  line-height: 1.3;
}

.background {
  z-index: 1;
  position: relative;
  width: 70%;
  text-align: center;
}

/* https://codepen.io/ericrasch/pen/kWWzzk */
.background:before {
  border-top: 1px solid var(--custom-border-color-light);
  content: "";
  margin: 0 auto;
  /* this centers the line to the full width specified */
  position: absolute;
  /* positioning must be absolute here, and relative positioning must be applied to the parent */
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 95%;
  z-index: -1;
}

.background span {
  background-color: white;
  color: var(--custom-border-color-darker);
  padding: 0 15px;
}

.drop-browse-btn {
  all: unset;

  background-color: var(--custom-secondary-color);
  color: white;

  place-self: end center;
  margin-bottom: 8px;
  padding: 10px 15px;

  line-height: 1;
  font-weight: 500;

  border-radius: 5px;
  cursor: pointer;
}

.import-module .accepted-files {
  width: 100%;
  /* background-color: red; */
  margin-bottom: 10px;
}

.import-module .accepted-files:empty {
  display: none;
}

.import-module .accepted-files .file {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid var(--custom-border-color-lighter);

  background-color: whitesmoke;

  line-height: 1;
  margin-bottom: 5px;

  display: flex;
  align-items: center;
}

.import-module .accepted-files .file .file-icon {
  font-size: 1.2rem;
  margin-right: 0.3rem;
  flex-shrink: 0;
}

.import-module .accepted-files .file .file-name {
  word-break: break-all;
}

.import-module .accepted-files .file .file-remove-btn {
  all: unset;
  line-height: 0;
  padding: 0;
  margin-left: auto;
  cursor: pointer;
}

.import-module .accepted-files .file .file-remove-icon {
  font-size: 1.4rem;
}

.import-create-module .line {
  background-color: lightgray;
  width: 1px;
  height: 100%;
}

.create-module {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  max-width: 500px;
  place-self: center center;

  /* background-color: lightblue; */
}

.create-module>div {
  margin-bottom: .8rem;
}

.create-module>div>label {
  display: block;
  line-height: 1;
  margin-bottom: .4rem;

  font-weight: 500;
}

.create-module>div>input {
  display: block;
  padding: 8px;
  width: 100%;

  border: 1px solid var(--custom-border-color-lighter);
  border-radius: 5px;
}

.create-module #create-module-compatibility-input {
  background-color: whitesmoke;
}

/* Active */
.drop-browse-btn:active {
  background-color: rgb(61, 64, 82);
}

/* Focus visible */
.import-module .accepted-files .file .file-remove-btn:focus-visible {
  outline: 2px solid var(--custom-prime-color);
  border-radius: 5px;
  outline-offset: 3px;
}

.create-module>div>input:focus-visible {
  outline: 2px solid var(--custom-prime-color);
}

.import-create-module button:focus-visible {
  outline: 2px solid var(--custom-prime-color);
  outline-offset: 5px;
}

.import-module .dropzone:focus-visible {
  outline: 2px solid var(--custom-prime-color);
  outline-offset: -1px;
}

@media screen and (hover: hover) and (pointer: fine) {
  .create-import-module-btn:hover {
    background-color: var(--custom-prime-color-dark);
  }

  .drop-browse-btn:hover {
    background-color: rgb(61, 64, 82);
  }

  .import-create-module .import-module-btn:hover,
  .import-create-module .create-module-btn:hover {
    background-color: var(--custom-prime-color-dark);
  }

  .import-module .accepted-files .file .file-remove-icon:hover {
    color: red;
  }

  .create-module>div>input:hover:enabled {
    border: 1px solid var(--custom-border-color-light);
  }
}

@media screen and (max-width: 650px) {
  .import-create-module {
    grid-template-columns: none;
    grid-template-rows: auto max-content auto;
    column-gap: 0px;
    row-gap: 20px;
    padding: 15px;
  }

  .import-create-module .line {
    height: 1px;
    width: 100%;
  }

  .import-module .dropzone {
    font-size: 18px;
  }
}